@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800&display=swap");

#home-container {
  background-image: url("../../../public/assets/images/blurred_vivid.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
